VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_SUPABASE_URL=https://zpuimjwuclfihgxoixuv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwdWltand1Y2pmaWhneG9peHV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxMDU4NzMsImV4cCI6MjA5MDY4MTg3M30.b6o4MlPjxtBAy2-amvZF54ewxt2Rq4mNOneLUWp6fWI
